<div id="container">
 
  <div>
    <ion-list>  
      <ion-item>
        <a [routerLink]="['/login']" routerDirection="forward"> Login </a>
      </ion-item>
      <ion-item>
        <a [routerLink]="['/registrazione']" routerDirection="root"> Registrazione </a>
      </ion-item>
    </ion-list>
  </div>
</div>