<ion-header>
  <ion-toolbar>
    <ion-title [routerLink]="['']">MyMeds</ion-title>
 </ion-toolbar>

</ion-header>
<ion-content >
 <ion-text><h1>Registrazione</h1></ion-text>
 <div>
      <ion-item>
         <ion-label position="floating">Username</ion-label>
         <ion-input [(ngModel)]="username" name="username" ></ion-input>
     </ion-item>
     <ion-item>
         <ion-label position="floating">Email</ion-label>
         <ion-input type="email" [(ngModel)]="email" name="email" ></ion-input>
     </ion-item>
     <ion-item>
         <ion-label position="floating">Password</ion-label>
         <ion-input type="text" [(ngModel)]="password" name="password" ></ion-input>
     </ion-item>
     <ion-button type="password" (click)="onRegistrazione()">Registrati</ion-button>
 </div> 


</ion-content> 

