<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>User</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2"  
   
    >
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>MyMeds</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3"  
   
    >
      <ion-icon name="square"></ion-icon>
      <ion-label>+</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
