<div>
  <ion-toolbar>
    <ion-title>{{item.name}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Chiudi</ion-button>
    </ion-buttons>
  </ion-toolbar>

  <div>
    <ion-card color="secondary">
      <ion-card-header>
        <ion-card-subtitle>{{item.barcode}}</ion-card-subtitle>
        <ion-card-title>{{item.name}}</ion-card-title>
      </ion-card-header> 
    
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Codice a barre</ion-label>
                <ion-input type="text" value="{{item.barcode}}" readonly></ion-input>
            </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Nome Medicina</ion-label>
                <ion-input  type="text" value="{{item.name}}" readonly> </ion-input>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Descrizione</ion-label>
                <ion-input type="text" value="{{item.description}}" 
                  (ionChange)='onCambioDescrizione($event.target.value)' (ionBlur)='onDescrizioneBlur()'> </ion-input>
            </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label position="floating">Data di Scadenza</ion-label>
                <ion-datetime  displayFormat="DD-MM-YYYY" value="{{item.date_expire}}"
                              min="2000" max="2050"
                              (ionChange)='onCambioDate($event.target.value)'
                              (ionBlur)='onDateBlur()'
                              
                              ></ion-datetime>
            </ion-item>
            </ion-col>
           
          </ion-row>
        </ion-grid>
        <ion-button (click)="onSalvaModifiche();" >Salva</ion-button>
      </ion-card-content>
      
    </ion-card>
  </div>
</div>