<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{Titolo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{Titolo}}</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event, 2000)">
    <ion-refresher-content>
    </ion-refresher-content>
  </ion-refresher>

  <!-- Barra per fare una ricerca tra le medicine salvate -->
  <ion-searchbar
    [(ngModel)]="searchMed"
    placeholder="Cerca tra le tue medicine!"
    showCancelButton="always"
    inputmode="search" fixed> <!-- Cambia l'icona del tasto invio , mette una freccia che ritorna piuttosto che -->
  </ion-searchbar>

  <!-- Medicine Valide ----------------------------------------------------------------------- -->

  <ion-list>
    <ion-item-divider>Medicine </ion-item-divider>
   
      <ion-card *ngFor="let item of medicine | filter:searchMed  trackBy:trackMeds " mode="md" color="secondary">
        <ion-card-header>
          <ion-card-subtitle>{{item.barcode}}</ion-card-subtitle>
          <ion-card-title>{{item.name}}</ion-card-title>
        </ion-card-header> 
      
        <ion-card-content>{{item.description}}</ion-card-content>
        <ion-card-content *ngIf="item.date_expire">Scade il {{item.date_expire}}</ion-card-content>
        <ion-item >
    
          <ion-chip outline color="secondary" (click)="presentModal(item)">
            <ion-icon name="open"></ion-icon>
            <ion-label>Modifica</ion-label>
          </ion-chip>

          <hr>
          
          <ion-chip   outline *ngIf="scaduto(item.date_expire)" color="warning">
            <ion-icon name="alert"></ion-icon>
            <ion-label>Scaduto</ion-label>
          </ion-chip>
          
          
          <ion-chip   outline *ngIf="nullo(item.date_expire)" color="warning">
            <ion-icon name="warning"></ion-icon>
            <ion-label>Data</ion-label>
          </ion-chip>
          
          <ion-chip outline color="danger" (click)="onElimina(item.barcode, $event);">
            <ion-icon name="trash"></ion-icon>
            <ion-label>Elimina</ion-label>
          </ion-chip>
        
        </ion-item>
      </ion-card>
      
    
  </ion-list>


  <!-- <div>
    <h1>Medicine  nello storage ("trakMeds")</h1>
    <p>{{m}}</p>

    <p *ngFor="let i of trackM"> {{i.name}}   </p>
  </div> -->
  

</ion-content>
