<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{Titolo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
      <ion-toolbar>
        <ion-title size="large">{{Titolo}}</ion-title>
      </ion-toolbar>
    </ion-header>

    <div *ngIf="loggato; else nologged">
      <ion-list>
        <ion-item-divider>
          <ion-label>
            Dati utente
          </ion-label>
        </ion-item-divider>
        <ion-item><ion-label ngDefaultControl [(ngModel)]="username" >Username : {{username}}</ion-label> </ion-item>
        <ion-item><ion-label ngDefaultControl [(ngModel)]="email" >Email : {{email}}</ion-label> </ion-item>
        <ion-item><ion-label ngDefaultControl [(ngModel)]="password" >Password : ***** </ion-label> </ion-item>
      </ion-list>
    </div>

  <ng-template #nologged>
    <app-explore-container name="Tab 1 page"></app-explore-container>
   
  </ng-template>
  
  
</ion-content>
