<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{Titolo}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{Titolo}}</ion-title>
    </ion-toolbar>
  </ion-header>

  

  <!-- ion-segment permette di avere un togle button che fa scegliere quale modalità avere -->
  <ion-segment (ionChange)="segmentChanged($event)" swipeGesture=true value="scan">
    <ion-segment-button value="manual">
      <ion-label>Cerca medicina </ion-label>
    </ion-segment-button>
    <ion-segment-button value="scan">
      <ion-label>Crea  medicina</ion-label>
    </ion-segment-button>
   
  </ion-segment>

 
  <div  *ngIf="inserisci; else manuale;">
    
      <h1>Crea una nuova medicina!</h1>
      <h2>Ed aggiungila alla tua lista!</h2>
      <div>
      
        <br>
        
        <br>
      
        
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Codice a barre</ion-label>
              <ion-input type="text"  [(ngModel)]="id" name="barcode"></ion-input>
          </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nome Medicina</ion-label>
              <ion-input [(ngModel)]="nomeMedicina" type="text" > </ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Descrizione</ion-label>
              <ion-input [(ngModel)]="descrizione" type="text"> </ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Data di Scadenza</ion-label>
              <ion-datetime  [(ngModel)]="dataScadenza" displayFormat="DD/MM/YYYY" value="2021-09-01" min="2000" max="2050"></ion-datetime>
          </ion-item>
          </ion-col>
         
        </ion-row>
      </ion-grid>
      <ion-button (click)="onSalva();" >Salva</ion-button>
    
  </div>

  <ng-template #manuale>
      <ion-label position="floating">Inserisci codice identificativo</ion-label>
      <ion-input [(ngModel)]="id" type="text" placeholder="codice identificativo della medicina"></ion-input>  
    <ion-button (click)="onCerca()"> Cerca</ion-button>
  </ng-template>

  <div id="container">

    <div *ngIf="(!(productList==false)); else inserisciProdotto;">
      <h1 *ngIf="((productList==false))">Qual'è il tuo prodotto?</h1>

      <ion-infinite-scroll threshold="100px" >
        <ion-infinite-scroll-content>
          
         
          <ion-list>
            <ion-item-divider *ngIf="productList.length">Medicine registrate sul server</ion-item-divider>
            <ion-item *ngFor="let item of productList; trackBy:trackItems">
              <ion-label>
                <p>ID: {{item.id}} </p>
                <p>Descrizione: {{item.description}} </p>
                <p>BarCode: {{item.barcode}} </p>
                <p>Nome: {{item.name}} </p>
                <ion-button (click)="onAggiungi(item);">Aggiungi</ion-button>
                <ion-button (click)="onRate(item);">Votami</ion-button>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-infinite-scroll-content>
      </ion-infinite-scroll>
     
    </div>

    
    <ng-template #inserisciProdotto> 
      <ion-list>
        <ion-item-divider *ngIf="trackMeds.length">Medicine aggiunte di recente</ion-item-divider>
        <ion-item *ngFor="let item of trackMeds; trackBy:trackTrackedItem">
          <ion-label>
           
            <p>Descrizione: {{item.description}} </p>
            <p>BarCode: {{item.barcode}} </p>
            <p>Nome: {{item.name}} </p>
            <ion-button (click)="onAggiungi(item);">Aggiungi</ion-button>
            <ion-button (click)="onRate(item);">Votami</ion-button>
          </ion-label>
        </ion-item>

      </ion-list>
      <h2 *ngIf="trackMeds.length"> Vuoi aggungere questa medicina? Oppure vuoi ...</h2>
      <h2> Crea questa medicina </h2>
      <div>
      
        <br>
        
        <br>
      
        
      </div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Codice a barre</ion-label>
              <ion-input type="text"  [(ngModel)]="id" name="barcode"></ion-input>
          </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Nome Medicina</ion-label>
              <ion-input [(ngModel)]="nomeMedicina" type="text" > </ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Descrizione</ion-label>
              <ion-input [(ngModel)]="descrizione" type="text"> </ion-input>
          </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label position="floating">Data di Scadenza</ion-label>
              <ion-datetime  [(ngModel)]="dataScadenza" displayFormat="DD/MM/YYYY" value="2021-09-01" min="2000" max="2050"></ion-datetime>
          </ion-item>
          </ion-col>
         
        </ion-row>
      </ion-grid>
      <ion-button (click)="onSalva();" >Salva</ion-button>
    </ng-template>

  
  </div>

</ion-content>
  